<%= form_for(@town) do |f| %>
  <% if @town.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@town.errors.count, "error") %> prohibited this town from being saved:</h2>

      <ul>
      <% @town.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Ville %><br>
    <%= f.text_field :Ville %>
  </div>
  <div class="field">
    <%= f.label :Code_Postal %><br>
    <%= f.text_field :Code_Postal %>
  </div>
  <div class="field">
    <%= f.label :Latitude %><br>
    <%= f.text_field :Latitude %>
  </div>
  <div class="field">
    <%= f.label :Longitude %><br>
    <%= f.text_field :Longitude %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
